<div class="comment-wrapper">
  <div class="comment">
    <div class="comment-content">
      {{ answer.text }}
    </div>
    <hr class="little-line"/>

    <div class="comment-control">
      <div class="row">
        <div class="col-md username">
          <a href="{{ answer.author.getLink }}">
            {% if answer.author.upload.blank %}
              <img class="avatar" src="{{ answer.author.upload.url }}"/>
            {% endif %}
            {{ answer.author.username }}
          </a>
        </div>

        <div class="col-md-2">
          <!--<a href="#">
            <i class="fa fa-comments-o" aria-hidden="true"></i>
            Ответить
          </a>-->
        </div>

        <div class="col-md-2">
        </div>


        <div class="col-md-3">
          {{ answer.createDate }}
        </div>


        <div class="col-md-2">
          <a href="#">
            <i class="fa fa-plus-square-o" aria-hidden="true"></i>
          </a>
          123
          <a href="#">
            <i class="fa fa-minus-square-o" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>