{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Неизвестная страница{% endblock %}</title>
    <link href="{% static 'style.bundle.css' %}" rel="stylesheet"/>
</head>

<body>
{% include 'navbar.html' %}

<main role="main" class="container">
    <div class="search-block row p-4">
        <div class="col-md-12">
            <form class="form-row">
                <div class="form-group mb-0 col-md-11">
                    <input type="text" class="form-control" placeholder="Что ищем?" aria-label="Search">
                </div>
                <div class="form-group mb-0 col-md-1">
                    <button class="btn btn-warning" type="submit">Искать</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="question-list-wrapper col-md-8" id="content">
            <a id="sidebar-switcher" class="" data-toggle="collapse" href="#sidebar-collapsible" role="button" aria-expanded="false" aria-controls="sidebar-collapsible">Убрать сайдбар</a>
            {% block breadcrumb %}
                {% include 'breadcrumb.html' %}
            {% endblock %}
            {% block content %}{% endblock %}
            {% block pagination %}
                {% include 'pagination.html' %}
            {% endblock %}
        </div>

        {% include 'sidebar.html' %}
    </div>
</main>

<footer class="page-footer">
    <p>Сделано с любовью by <a href="https://github.com/Silvman">@Silvman</a>.
    </p>
    <p>
        <a href="#">Наверх</a>
    </p>
</footer>


{% if is_login == 0 %}
    {% include 'modals.html' %}
{% endif %}

<script src="{% static 'main.bundle.js' %}"></script>
<script src="{% static 'style.bundle.js' %}"></script>
</body>
</html>
