<aside class="col-md-4 aside-wrapper collapse show" id="sidebar-collapsible">
    <div class="aside-block">
        <h2>Тэги</h2>
        <div class="content">
            <a href="/tag" class="tag">javascript</a>
            <a href="/tag" class="tag">json</a>
            <a href="/tag" class="tag">webpack</a>
            <a href="/tag" class="tag">npm</a>
            <a href="/tag" class="tag">bootstrap</a>
            <a href="/tag" class="tag">fontawesome</a>
            <a href="/tag" class="tag">stylesheet</a>
            <a href="/tag" class="tag">design</a>
        </div>
    </div>

    <div class="aside-block">
        <h2>Мои вопросы</h2>
        <div class="content">
            Нет вопросов
        </div>
    </div>

    <div class="aside-block">
        <h2>Лидеры</h2>
        <div class="content">
            <ul class="leader-list">
                <li>
                    <a href="#">
                        <img src="/static/orchi.png" class="avatar">
                        <span class="text">Orhideous</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/static/myava.jpeg" class="avatar">
                        <span class="text">Silvman</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/static/myava.jpeg" class="avatar">
                        <span class="text">Silvman</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/static/orchi.png" class="avatar">
                        <span class="text">Orhideous</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/static/myava.jpeg" class="avatar">
                        <span class="text">Silvman</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/static/orchi.png" class="avatar">
                        <span class="text">Orhideous</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/static/myava.jpeg" class="avatar">
                        <span class="text">Silvman</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/static/orchi.png" class="avatar">
                        <span class="text">Orhideous</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/static/myava.jpeg" class="avatar">
                        <span class="text">Silvman</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>