{% extends "base.html" %}

{% block title %}Поиск по тегу / Вопросы и ответы{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Вопросы</a></li>
            <li class="breadcrumb-item active" aria-current="page">С тегом "{{ tag_name }}"</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <h2>"{{ tag_name }}"</h2>

    <div class="question-list">
        {% for question in list_questions %}
            {% include 'question_base.html' %}
        {% endfor %}

    </div>
{% endblock %}